<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/styles/output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Jaro&display=swap"
      rel="stylesheet"
    />
    <script src="/javascript/main.js"></script>
  </head>

  <body class="font-family: 'Roboto';">
    <header>
      <div
        class="flex flex-col sm:flex-row sm:justify-between lg:flex-row lg:justify-between lg:items-center gap-4 px-4 lg:px-16 py-4 w-full"
      >
        <!-- Administration Section -->
        <div class="flex flex-col items-start">
          <h1
            class="font-jaro text-gray-800 text-[32px] leading-[32px] font-normal lg:text-[52px] lg:leading-[52px]"
          >
            Administration
          </h1>
        </div>

        <!-- Button Group -->
        <div class="flex flex-row items-center gap-4">
          <!-- Filtrera Button -->
          <button
            class="flex items-center gap-2 px-6 py-3 w-auto h-[52px] border-2 border-gray-800 rounded-[6px] text-gray-800 text-[14px] lg:text-[16px] font-roboto font-semibold focus:ring-2 focus:ring-gray-500 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
              />
            </svg>
            <a href="#"> Filtrera produkter </a>
          </button>

          <!-- Primary Button -->
          <button
            class="flex items-center justify-center gap-2 px-6 py-3 w-auto h-[52px] bg-gray-800 text-white text-[14px] lg:text-[16px] font-roboto font-semibold rounded-[6px] focus:ring-2 focus:ring-gray-500 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
            <a href="/admin/products/register"> Ny produkt </a>
          </button>
        </div>
      </div>
    </header>

    <main>
      <!-- Admin dashboard here -->

      <!--- Tabell med produkter -->
      <article class="flex justify-center items-center w-full px-4 py-4 mb-20">
        <div class="overflow-x-auto w-full max-w-7xl">
          <table
            class="text-left w-full border-2 border-gray-800 border-collapse rounded-[6px] border-spacing-0"
          >
            <caption class="text-xl font-semibold py-4 font-roboto uppercase">
              Produkter
            </caption>
            <thead>
              <tr
                class="bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
              >
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Id
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Namn
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Pris
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Kvantitet
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Bild
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Kategori
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Registreringsdatum
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto text-center"
                ></th>
              </tr>
            </thead>
            <tbody id="product-table-body"></tbody>
          </table>
        </div>
      </article>
    </main>
    <%- include('../partials/_footer') %>
  </body>
</html>
