<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/styles/output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Jaro&display=swap"
      rel="stylesheet"
    />
    <script src="/javascript/admin.js"></script>
    <script src="/javascript/filter-products.js"></script>
  </head>
  <body class="font-family: 'Roboto';">
    <header>
      <div
        class="flex flex-col sm:flex-row sm:justify-between lg:flex-row lg:justify-between lg:items-center gap-4 px-4 lg:px-16 py-4 w-full"
      >
        <div class="flex flex-col items-start">
          <h1
            class="font-jaro text-gray-800 text-[32px] leading-[32px] font-normal lg:text-[52px] lg:leading-[52px]"
          >
            Administration
          </h1>
        </div>

        <!--  FILTER BUTTON -->
        <div class="flex flex-row items-center gap-4 relative">
          <button
            id="filter-button"
            class="flex items-center gap-2 px-6 py-3 w-auto h-[52px] border-2 border-gray-800 rounded-[6px] text-gray-800 text-[14px] lg:text-[16px] font-roboto font-semibold focus:ring-2 focus:ring-gray-500 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
              />
            </svg>
            <span>Filtrera produkter</span>
          </button>
          <!--  FILTER BUTTON END -->

          <!-- Filtermeny-->
          <div
            id="filter-dropdown"
            class="absolute right-0 top-[60px] hidden bg-white shadow-md border border-gray-300 rounded-md w-60 z-50"
          >
            <ul class="flex flex-col p-4 gap-2">
              <li>
                <label class="flex items-center gap-2">
                  <input
                    type="radio"
                    name="category-filter"
                    value="all"
                    class="form-radio"
                    checked
                  />
                  Alla
                </label>
              </li>
              <li>
                <label class="flex items-center gap-2">
                  <input
                    type="radio"
                    name="category-filter"
                    value="category-1"
                    class="form-radio"
                  />
                  Kategori 1
                </label>
              </li>
              <li>
                <label class="flex items-center gap-2">
                  <input
                    type="radio"
                    name="category-filter"
                    value="category-2"
                    class="form-radio"
                  />
                  Kategori 2
                </label>
              </li>
              <li>
                <label class="flex items-center gap-2">
                  <input
                    type="radio"
                    name="category-filter"
                    value="category-3"
                    class="form-radio"
                  />
                  Kategori 3
                </label>
              </li>
            </ul>
          </div>
          <!-- Slut på filtermeny -->
        <a href="/admin/products/register">
          <button
            class="flex items-center justify-center gap-2 px-6 py-3 w-auto h-[52px] bg-gray-800 text-white text-[14px] lg:text-[16px] font-roboto font-semibold rounded-[6px] focus:ring-2 focus:ring-gray-500 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
            Ny produkt 
          </button>
        </a>
        </div>
      </div>
    </header>

    <main>
      <article class="flex justify-center items-center w-full px-4 py-4 mb-20">
        <div class="overflow-x-auto w-full max-w-7xl">
          <table
            class="text-left w-full border-2 border-gray-800 border-collapse rounded-[6px] border-spacing-0"
          >
            <caption class="text-xl font-semibold py-4 font-roboto uppercase">
              Produkter
            </caption>
            <thead>
              <!-- <tr
                class="bg-gray-800 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
              >
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Id
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Namn
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Pris
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Kvantitet
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Bild
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Kategori
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                >
                  Registreringsdatum
                </th>
                <th
                  class="border-b border-r border-gray-900 px-3 py-2 font-roboto text-center"
                ></th>
              </tr>
            </thead> -->
              <thead>
                <tr class="bg-gray-800 text-white">
                  <th
                    data-sort="numeric"
                    class="border-b border-r border-gray-900 px-3 py-2 font-roboto cursor-pointer hover:bg-gray-700 transition-colors"
                  >
                    <span class="inline-block items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-3"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m19.5 8.25-7.5 7.5-7.5-7.5"
                        />
                      </svg>
                    </span>
                    Id
                  </th>
                  <th
                    data-sort="text"
                    class="border-b border-r border-gray-900 px-3 py-2 font-roboto cursor-pointer hover:bg-gray-700 transition-colors"
                  >
                    <span class="inline-block items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-3"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m19.5 8.25-7.5 7.5-7.5-7.5"
                        />
                      </svg>
                    </span>
                    Namn
                  </th>
                  <th
                    data-sort="numeric"
                    class="border-b border-r border-gray-900 px-3 py-2 font-roboto cursor-pointer hover:bg-gray-700 transition-colors"
                  >
                    <span class="inline-block items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-3"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m19.5 8.25-7.5 7.5-7.5-7.5"
                        />
                      </svg>
                    </span>
                    Pris
                  </th>
                  <th
                    data-sort="numeric"
                    class="border-b border-r border-gray-900 px-3 py-2 font-roboto cursor-pointer hover:bg-gray-700 transition-colors"
                  >
                    <span class="inline-block items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-3"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m19.5 8.25-7.5 7.5-7.5-7.5"
                        />
                      </svg>
                    </span>
                    Kvantitet
                  </th>
                  <th
                    class="border-b border-r border-gray-900 px-3 py-2 font-roboto"
                  >
                    Bild
                  </th>
                  <th
                    data-sort="text"
                    class="border-b border-r border-gray-900 px-3 py-2 font-roboto cursor-pointer hover:bg-gray-700 transition-colors"
                  >
                    <span class="inline-block items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-3"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m19.5 8.25-7.5 7.5-7.5-7.5"
                        />
                      </svg>
                    </span>
                    Kategori
                  </th>
                  <th
                    data-sort="numeric"
                    class="border-b border-r border-gray-900 px-3 py-2 font-roboto cursor-pointer hover:bg-gray-700 transition-colors"
                  >
                    <span class="inline-block items-center">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-3"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="m19.5 8.25-7.5 7.5-7.5-7.5"
                        />
                      </svg>
                    </span>
                    Registreringsdatum
                  </th>
                  <th
                    class="border-b border-r border-gray-900 px-3 py-2 font-roboto text-center"
                  >
                    Åtgärder
                  </th>
                </tr>
              </thead>
            </thead>

            <tbody id="product-table-body"></tbody>
          </table>
        </div>
      </article>
    </main>
    <%- include('../partials/_footer') %>
  </body>
</html>
