<footer class="bg-gray-900 text-white">
  <div
    class=" flex flex-col items-center gap-8 py-10 px-8 md:px-20 lg:px-32 md:flex-row md:justify-between md:py-28 max-w-screen-2xl mx-auto">
    <!-- Logo -->
    <div class="flex flex-col items-center">
      <img src="/images/logotype_white-vertical.png" alt="Logo" class="" />
    </div>

    <!-- Menu -->
    <div class="flex flex-col text-center gap-6 md:flex-row md:gap-16 md:justify-end">
      <!-- Follow Us -->
      <div>
        <h4>Följ oss</h4>
        <ul class="">
          <li><a href="#" class="hover:underline">Facebook</a></li>
          <li><a href="#" class="hover:underline">Instagram</a></li>
          <li><a href="#" class="hover:underline">Tiktok</a></li>
        </ul>
      </div>

      <!-- Skandiwall -->
      <div>
        <h4>Skandiwall</h4>
        <ul class="">
          <li><a href="/om-oss" class="hover:underline">Om oss</a></li>
          <li><a href="/samarbeten" class="hover:underline">Samarbeten</a></li>
        </ul>
      </div>

      <!-- Help Section -->
      <div>
        <h4>Vi hjälper dig</h4>
        <ul class="">
          <li><a href="/kontakta-oss" class="hover:underline">Kontakta oss</a></li>
          <li><a href="/returpolicy" class="hover:underline">Returpolicy</a></li>
          <li><a href="/fraktalternativ" class="hover:underline">Fraktalternativ</a></li>
          <li><a href="/vanliga-fragor" class="hover:underline">Vanliga frågor</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>