<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  <link href="/styles/output.css" rel="stylesheet">
    <body>
      <section class="bg-blue-500 text-white p-4">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </section>
    </body>
</html>
