<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/styles/output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Jaro&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('partials/_header') %>

    <main>
      <!-- Hero  -->
      <section class="hero">
        <div class="img-section">
          <img src="/images/poster.png" alt="" />
        </div>

        <div class="text-section">
          <h1>Ge dina väggar en personlighet</h1>

          <p>
            Utforska vårt breda utbud av posters och prints som passar alla hem
            och stilar. Oavsett om du söker moderna motiv, klassiska konstverk
            eller inspirerande citat har vi något för dig. Kombinera dina
            favoriter och skapa en unik tavelvägg som lyfter hela rummet.
          </p>

          <button class="primary-button lg:self-start">Utforska våra posters</button>
        </div>
      </section>

      <!-- Nyheter -->
      <section class="poster-section">
        <!-- Rubrik -->
        <h2>Nyheter</h2>
        <!-- Produktkort -->
        <div>
          <!-- Produkt 1 -->
          <a href="/product-details"
            ><div>
              <img
                src="/images/poster-images/unsplash_-LtP26tbs1o.jpg"
                alt="Produktbild"
              />
              <div>
                <h3>Produkt 2</h3>
                <span>400 SEK</span>
              </div>
            </div>
          </a>
          <!-- Produkt 2 -->
          <a href="/product-details"
            ><div>
              <img
                src="/images/poster-images/unsplash_-LtP26tbs1o.jpg"
                alt="Produktbild"
              />
              <div>
                <h3>Produkt 2</h3>
                <span>400 SEK</span>
              </div>
            </div></a
          >

          <!-- Produkt 3 -->
          <a href="/product-details"
            ><div>
              <img
                src="/images/poster-images/unsplash_-LtP26tbs1o.jpg"
                alt="Produktbild"
              />
              <div>
                <h3>Produkt 2</h3>
                <span>400 SEK</span>
              </div>
            </div></a
          >

          <!-- Produkt 4 -->
          <a href="/product-details"
            ><div>
              <img
                src="/images/poster-images/unsplash_-LtP26tbs1o.jpg"
                alt="Produktbild"
              />
              <div>
                <h3>Produkt 2</h3>
                <span>400 SEK</span>
              </div>
            </div></a
          >
        </div>
      </section>

      <!-- Vinter -->
      <section class="poster-section">
        <!-- Rubrik -->
        <h2>Vinter</h2>
        <!-- Produktkort -->
        <div>
          <!-- Produkt 1 -->
          <div>
            <img
              src="/images/poster-images/unsplash_cGW1w-qLix8.jpg"
              alt="Produktbild"
            />
            <div>
              <h3>Produkt 2</h3>
              <span>400 SEK</span>
            </div>
          </div>

          <!-- Produkt 2 -->
          <div>
            <img
              src="/images/poster-images/unsplash_cGW1w-qLix8.jpg"
              alt="Produktbild"
            />
            <div>
              <h3>Produkt 2</h3>
              <span>400 SEK</span>
            </div>
          </div>

          <!-- Produkt 3 -->
          <div>
            <img
              src="/images/poster-images/unsplash_cGW1w-qLix8.jpg"
              alt="Produktbild"
            />
            <div>
              <h3>Produkt 2</h3>
              <span>400 SEK</span>
            </div>
          </div>

          <!-- Produkt 4 -->
          <div>
            <img
              src="/images/poster-images/unsplash_cGW1w-qLix8.jpg"
              alt="Produktbild"
            />
            <div>
              <h3>Produkt 2</h3>
              <span>400 SEK</span>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/_footer') %>
  </body>
</html>
