<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/styles/output.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Jaro&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('../partials/_header') %>


    <main
      class="flex flex-col gap-10 md:flex-row w-full py-16 px-8 md:px-20 max-w-screen-2xl mx-auto md:items-center"
    >
      Test
    </main>

    <%- include('../partials/_footer') %>
  </body>
</html>
