<!DOCTYPE html>
<html lang="sv">

<head>
  <title>
    <%= title %>
  </title>
  <link href="/styles/output.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Jaro&display=swap" rel="stylesheet" />
</head>

<body>
  <%- include('../partials/_header') %>


    <main class="flex flex-col gap-10 md:flex-row w-full py-16 px-8 md:px-20 max-w-screen-2xl mx-auto md:items-center">
      <div class="text-section">
        <h1>Fraktalternativ</h1>


        <p class="mb-2">Vi på Skandiawall strävar efter att göra leveransen av din beställning så enkel och snabb som
          möjligt. Vi
          erbjuder
          flera fraktalternativ så att du kan välja det som passar dig bäst.</p>

        <span class="font-bold">Fraktalternativ:</span>
        <ol class="mb-2">
          <li>Standardleverans: Leverans inom 3-5 arbetsdagar. Kostnad: 50 SEK.</li>
          <li>Expressleverans: Leverans inom 1-2 arbetsdagar. Kostnad: 100 SEK.</li>
          <li>Gratis frakt: Gäller vid köp över 500 SEK. Leverans inom 3-5 arbetsdagar.</li>
        </ol>

        <p class="mb-2"><span class="font-bold">Leveransadress:</span>
          Vi levererar till alla adresser inom Sverige. Vid beställningar som inte kan levereras till den angivna
          adressen, kontaktar vi dig för vidare instruktioner.</p>

        <p class="mb-2"><span class="font-bold">Spårning av din beställning:</span>
          Efter att din beställning har skickats kommer du att få en spårningslänk via e-post, så att du kan följa
          paketet
          på vägen till dig.</p>

        <p class="mb-2"><span class="font-bold">Observera:</span>
          Fraktkostnaden beräknas baserat på den valda leveransmetoden och din orderstorlek.
          Vi erbjuder för närvarande bara frakt inom Sverige.
          Vänligen kontrollera din leveransadress noggrant innan du slutför din beställning.</p>

        <p class="font-bold">Tack för att du handlar hos Skandiawall! Vi ser fram emot att leverera din beställning
          snabbt och smidigt.
        </p>
      </div>
    </main>

    <%- include('../partials/_footer') %>
</body>

</html>