<!DOCTYPE html>
<html lang="sv">

<head>
  <title>
    <%= title %>
  </title>
  <link href="/styles/output.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&family=Jaro&display=swap" rel="stylesheet" />
</head>

<body>
  <%- include('../partials/_header') %>


    <main class="flex flex-col gap-10 md:flex-row w-full py-16 px-8 md:px-20 max-w-screen-2xl mx-auto md:items-center">
      <div class="text-section">
        <h1>Om oss</h1>


        <p>Välkommen till Skandiawall – din destination för unika och inspirerande posters. <br>

          Vi är ett kreativt företag som
          grundades med visionen att göra konst tillgänglig för alla. Vårt mål är att erbjuda högkvalitativa posters som
          passar alla hem och stilar, från minimalistiska prints till färgglada och livliga motiv.

          På Skandiawall tror vi att varje vägg har potential att bli ett konstverk. Därför arbetar vi noggrant med att
          skapa och kurera ett brett sortiment av posters som speglar olika trender, konstnärliga stilar och personliga
          uttryck. Vi samarbetar med talangfulla designers och konstnärer för att kunna erbjuda våra kunder något nytt
          och
          spännande.

          Vi strävar efter att alltid leverera produkter av högsta kvalitet, tillverkade med omsorg och hållbarhet i
          åtanke. Varje poster trycks på premiumpapper med lång hållbarhet, vilket gör att din konst kommer att hålla
          sig
          vacker under många år.

          Vi på Skandiawall tror på kraften i konst att förändra och förnya ett rum. Vi vill hjälpa våra kunder att
          skapa
          sin egen personliga stil och ge deras hem en unik känsla. Tillsammans med dig hoppas vi kunna göra varje vägg
          till en plats för inspiration och uttryck.

          Tack för att du besöker oss!</p>
      </div>
    </main>

    <%- include('../partials/_footer') %>
</body>

</html>